.image-cart{
    height: 50px;
    width: 80px;
}
.item-name{
    padding:0;
}
figure{
    margin: 0;
}

.cart_heading{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-left: 130px;
    margin-right: 130px;
    margin-bottom: 20px;
    text-align: center;
    align-items: center;
    margin-top: 20px;
  
}
.cart-image{
    
    display: flex;
}
p.details{
    line-height: 10px;
    padding: 0;
    margin: 0;
    margin-left: 10px;
}

hr{
    border: 1px solid rgb(184, 183, 183);
    margin-left: 130px;
    margin-right: 170px;
}
.detail-div{
    align-items: center;
}
.items > button.delete{
    border: none;
    background-color: transparent;
    font-size: 20px;
    color: black;
}

.set{
    font-size: 13px;
}
.amount{
    font-size: 20px;
    font-weight: 350;
}