/* *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    bottom: 0;
} */
.footer{
     background-color: #063247; 
    padding: 70px 0;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}
.footer-container{
    /* background-color:#24262b; */
     background-color: #063247; 
    max-width: 1170px;
    margin-top:20px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    font-weight: 500;
    position: relative;
    font-family: sans-serif;
    margin-bottom: 30px;
    
}
h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    width: 50px;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    text-decoration: none;
    color: #bbbb;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease; 
}
.footer-col ul li a:hover{
   color: white;
   padding-left: 8px;
}
.footer-col .social-links a {
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin: 10px;
    color: #ffff;
    border-radius:50% ;
    text-align: center;
    line-height: 40px;
}

@media (max-width:767px){
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media (max-width:574px){
    .footer-col{
        width: 100%;
        margin-bottom: 30px;
    }
} 