.product-container{
   display: grid;
   grid-template-columns: 1fr 3fr;
   margin: 50px;
}
.product-grid{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 10px;
    row-gap: 10px;
}

.card{
    width: 250px ;
    height: 230px ;
    /* position: relative; */

    border: 1px solid white;

}
img{
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

  figure.product-image {
    width: 100%;
    height: 100%;
    /* position: absolute; */
    top: 0;
    left: 0;

  }


  hr.line{
    width: 250px;
  }
  .card-data-flex{
    bottom: 0px;
    /* position: absolute; */
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .card-data{

   color: rgb(0, 0, 0);

}
p.card-data{
    line-height: 28px;
    margin-left: 50px;
    font-weight: 600;

    border-radius: 18px;
}
h3.card-data{

    border-radius: 18px;
    text-align: center;
}
.list_view{
  margin: 10px;
}
.listing > figure{
    height: 140px;
    width: 200px;
}
.list-view{
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: 20px;
}
.discription >h4{

  color: black;
}
.discription{
  color: black;
}